@using AiCademy.Domain.Enums
@using AiCademy.Domain.Identity
@using Microsoft.AspNetCore.Identity
@model List<AiCademy.Domain.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<h1>Courses</h1>

<br />

<form asp-controller="Courses" asp-action="Index" method="get" class="mb-3">
    <div class="input-group" style="max-width: 550px;">
        <input type="text" name="searchString" class="form-control" placeholder="Search course by title..." value="@(Context.Request.Query["searchString"])" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" style="margin-left: 4px">Search</button>
            <a asp-action="Index" class="btn btn-secondary ml-2">Clear</a>
        </div>
    </div>
</form>


<br />

<div class="container">


    @if (currentUser?.UserType == UserType.Instructor)
    {
        <div class="m-3">
            <a class="btn btn-success" asp-controller="Courses" asp-action="Create">Create new course</a>

    </div>
    }

     @for(int i=0;i<Model.Count; i++)
    {
        var item = Model[i];
        if(i % 3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-4">

            <div class="card" style="width: 18rem; height: 25rem">
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img class="card-img-top" src="@item.ImageUrl" alt="Course image" style="height: 200px; object-fit: cover;" />
                }
                else
                {
                    <img class="card-img-top" src="https://via.placeholder.com/286x200.png?text=No+Image" alt="No image" style="height: 200px; object-fit: cover;" />
                }
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <h6>Duration: @item.Duration</h6>
                </div>
                <div class="card-footer">
                   <td> 
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                 
                  @if (currentUser?.UserType == UserType.Instructor) {
 <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>  
                 <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> 
                  }
                
                 @if (User.Identity.IsAuthenticated && currentUser?.UserType == UserType.Student) 
  { 
                 <form asp-action="AddCourseToUserList" method="post"> 
                     <input type="hidden" name="id" value="@item.Id" />
                     <button type="submit" class="btn btn-success">Enroll</button> 
                </form> 
  } 
             </td> 
                </div>

            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }
    }
</div>
